* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  background-color: var(--bg-primary);
  min-height: 100vh;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  border: none;
  outline: none;
}